<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-xs-0 col-sm-4"></div>
    <div class="col-xs-12 col-sm-4 container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-3"></div>
            <a href="http://ceakumal.org"><img class="col-xs-4 col-sm-6 center-block" src="img/cea.png"></a>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 col-sm-0"></div>
            <div class="form-group col-xs-8 col-sm-12  ">  
                <div class="input-group" [class.has-success]="!emptyUsername" [class.has-warning]="emptyUsername">
                    <span class="input-group-addon">Usuario</span>
                    <input (keyup)="onFieldUpdate($event)" (keydown)="preventCharacters($event)" [(ngModel)]="username" placeholder="Nombre de Usuario" type="text" class="form-control center-block">
                </div>
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-xs-2 col-sm-0"></div>
            <div class="form-group col-xs-8 col-sm-12  ">  
                <a href="#">Olvidaste tu contraseña?</a>
                <div class="input-group" [class.has-warning]="emptyPassword" [class.has-success]="!emptyPassword" >
                    <span class="input-group-addon">Contraseña</span>
                    <input (keyup)="onFieldUpdate($event)" (keydown)="preventCharacters($event)" [(ngModel)]="password" placeholder="Contraseña" type="password" class="form-control center-block">
                </div>
            </div>
        </div>
        <hr>
        
        <div class="row">
            <div class="col-xs-2 col-sm-0"></div>
            <div class="form-group col-xs-8 col-sm-12  ">  
                <button (click) ="login()" class="btn btn-success">Iniciar Sesión</button>
                <button class="btn btn-danger pull-right">Regresar</button>
            </div>
        </div>

    </div>
</div>
