<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="well">
    <div class="row">
        <img class="col-xs-12 col-md-12" src="img/cea.png">
    </div>
    <div class="row">
        <div class="col-xs-4 text-right">ID: </div>
        <div class="col-xs-8"> {{ id_registro }} </div>
    </div>
    <div class="row">
        <div class="col-xs-12"><span class="badge">Fecha:</span>Una fecha</div>
        <!-- <div class="col-xs-10">Una fecha</div> -->
    </div>
    <div>
        <div class="col-xs-2">Inst: </div>
        <div class="col-xs-10">Una Inst</div>
    </div>
</div>