<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<nav class="navbar navbar-default "  style="background: #2D93D4">
    <div class="container-fluid">
        <div class="navbar-header">
            <button (click)="toggleNavbarClick()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar" style="background:  whitesmoke"></span>
                <span class="icon-bar" style="background:  whitesmoke"></span>
                <span class="icon-bar" style="background:  whitesmoke"></span>                        
            </button>
            <a class="navbar-brand" style="color: whitesmoke "><img src="img/ojo.png" style="width:45px;float: left;">  &nbsp;&nbsp;&nbsp;ALERTA TEMPRANA</a>
        </div>
        <div class="collapse navbar-collapse " [class.in]="navBarToggle">

            <ul class="nav navbar-nav">
                <li *ngFor="let item of menuElements">
                    <a *ngIf="item.permissions<=mainScreenService.getLoginInfo().userType" role="button" style="color: whitesmoke" [routerLink]="[ item.menuRef ]"> {{ item.menuName }}<span class="sr-only"></span></a>
               
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="loggedIn" dropdown (on-toggle)="toggled($event)">
                    <a role="button" style="color: whitesmoke" href id="simple-dropdown" dropdownToggle>
                        <span style="margin-right: 5px" class="glyphicon glyphicon-user"></span><span> {{name}} </span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                        <li><a role="button" class="dropdown-item" [routerLink]="['Stats']"><span class="glyphicon glyphicon-equalizer"> </span> Estadísticas</a></li>
                        <br>
                        <li><a role="button" class="dropdown-item" (click)="logOut()"><span class="glyphicon glyphicon-log-out"> </span> Cerrar Sesión</a></li>
                        <!--                        <li> <a class="dropdown-item" (click)="logOut()">Cerrar Sesión</li>-->
                    </ul>
                </li>

                <li *ngIf="!loggedIn"><a [routerLink]="['Login']" style="color: whitesmoke "><span class="glyphicon glyphicon-user"></span> Iniciar Sesión</a></li>

            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>